@charset "utf-8";

.form-control:disabled, .form-control:read-only{
	background-color:transparent;
	border:none;
}


#idInput{
	background-color: #e9ecef;
	color:#000000;
}

#modifySearchInput.readonly{
	background-color: #e9ecef;
	color:#000000;
}


.tableHeader{
	font-weight: 500;
	font-size: calc(1.275rem + .3vw);
}